html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0px;
}
p,
a {
  font-size: 1.2em;
}
h1 {
  font-size: 3em;
}
nav {
  position: sticky;
  font-size: x-large;
  background-color: #333;
  margin: 0;
  padding: 0 2vh;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  top: 0;
}
nav div {
  display: flex;
}
nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vw;
}
nav a:hover {
  color: antiquewhite;
}
.CV {
  float: right;
}
.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 6vw 0;
}
.description div div a {
  margin: 0 0.3vw;
}
.description a img {
  height: 4vh;
  width: auto;
}
.profile {
  width: 38vh;
  height: auto;
  border: 1px solid white;
  border-radius: 100%;
}
.button {
  display: inline-block; /* pour éviter éfondrement de margin */
  background-color: #333;
  color: white;
  padding: 2vh 3vh;
  text-decoration: none;
  border: 1px solid #330;
  border-radius: 5px;
  font-size: 1.2em;

  margin-bottom: 1.5vh;
}
#skills {
  text-align: center;
  scroll-margin-top: 10vh;
}
#skills h1 {
  margin-bottom: 3vh;
}
#skills div {
  display: grid;
  justify-items: center;
  grid-template: auto / auto auto;
}
#skills div div {
  color: white;
  background-color: rgb(34, 187, 34);
  border: 1px solid green;
  border-radius: 10%;
  padding: 1.5vh;
  margin: 1.5vh;
  font-weight: bold;
}
#projects {
  scroll-margin-top: 8vh;
  scroll-behavior: smooth;
}
.Projet_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Projet_div img {
  width: 60vw;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid black;
}
.Projet_div iframe {
  height: 35vw;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 2px solid black;
}
.divSite {
  margin: 6vh;
  width: 60vw;
  height: fit-content;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.divSite_desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vh;
}
.divSite a {
  margin: 1vh;
}
#descSMB,
#descPFW,
#descV {
  display: none;
  text-align: center;
  margin: 2vh;
}
.titre,
h2 {
  font-size: 2em;
  text-align: center;
}
@media only screen and (max-width: 850px) {
  .Projet_div img,
  .divSite {
    width: 80vw;
  }
  .Projet_div iframe {
    height: 50vw;
  }
  .description {
    flex-direction: column-reverse;
  }
  .description div {
    text-align: center;
  }
  .profile {
    width: 50vw;
  }
}
